@import url(fields/index.css);

form {
  margin-top: 2.5rem;
}

fieldset {
  border: none;
  display: grid;
  gap: 1rem;
}

legend {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  & img {
    width: 24px;
    aspect-ratio: 1/1;
  }

  & span {
    font: var(--text-heading-sm);
    color: var(--text-heading);
  }
}

fieldset + fieldset {
  margin-top: 3rem;
}
